# This .env stores stores shared env vars for the entire monorepo.
# Variables specific to a project should go in the respective project .env file.
# Anything prefixed with NEXT_PUBLIC_ is publically accessible to any client.
# Otherwise, vars here are only avaiable in server contexts.

NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_PANEL_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_URL=http://localhost:3001
